[submodule "NextEngine/vendor/glm"]
	path = NextEngine/vendor/glm
	url = https://github.com/dubtcs/glm
[submodule "NextEngine/vendor/spdlog"]
	path = NextEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
